<nav class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Rails SQL Injections</span>
  </a>

  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "What is SQL Injections", root_path, class: "nav-link link-dark" %>
    </li>

    <li>
      <%= link_to "delete_all", delete_all_path, class: "nav-link link-dark" %>
    </li>
</nav>

<div class="b-example-divider b-example-vr"></div>
